/*
* @Author: huanghongqiang
* @Date:   2017-07-14 16:26:50
* @Last Modified by:   huanghongqiang
* @Last Modified time: 2017-07-27 10:29:06
* @Email: st8817@163.com
* @File Path: /Users/huanghongqiang/work/dsj/Face/trunk/zyweb/src/component/FFoot.css
* @File Name: FFoot.css
* @Descript:
*/
.Foot{
    height: 170px;
    width: 100%;
    background-color: #fff;
   
}