/*
* @Author: huanghongqiang
* @Date:   2017-07-14 16:26:50
* @Last Modified by:   huanghongqiang
* @Last Modified time: 2017-07-25 15:56:21
* @Email: st8817@163.com
* @File Path: /Users/huanghongqiang/work/dsj/Face/trunk/zyweb/src/component/Foot.css
* @File Name: Foot.css
* @Descript:
*/
.FFoot{
    height: 170px;
    width: 100%;
    background-color: #fff;
}