/*
* @Author: huanghongqiang
* @Date:   2017-07-14 16:26:50
* @Last Modified by:   huanghongqiang
* @Last Modified time: 2017-07-25 14:09:03
* @Email: st8817@163.com
* @File Path: /Users/huanghongqiang/work/dsj/Face/trunk/zyweb/src/component/Head.css
* @File Name: Head.css
* @Descript:
*/
.FHead{
    height: 170px;
    width: 100%;
    background-color: #000;
    position: fixed;
}